




@media (max-width:1500px){
    .LegalNoticeHeadline{
        left: 300px;
    }

    .subtitelLegalNotice{
        left: 300px;
    }
}


@media (max-width:1350px){

    .LegalNoticeHeadline {
        top: 100px;
    }

    .subtitelLegalNotice{
        width: 800px;
    }

    .subTitelText{
        width: 800px;
    }

}

@media (max-width:1200px){

    .bigContainerLegal{
        display: flex;
        flex-direction: column;
    }


    .mainContainerLegal{
        flex: 1;
    }

    .responsiveNavbar {
        display: flex;
        height: 84px;
    }

    .LegalNoticeHeadline {
        top: 100px;
        left: 100px;
    }

    .subtitelLegalNotice{
        width: 800px;
        left: 100px;
    }

    .subTitelText{
        width: 800px;
    }

}

@media (max-width:950px){
    .LegalNoticeHeadline {
        top: 100px;
        left: 100px;
    }

    .subtitelLegalNotice{
        width: 500px;
        left: 100px;
    }

    .subTitelText{
        width: 500px;
    }
}

@media(max-width:800px){
    h1{
        font-size: 50px ;
    }
}

@media(max-width:635px){
    h1{
        font-size:40px ;
    }
}

@media(max-width:520px){
    h1{
        font-size:30px;
    }

    .LegalNoticeHeadlineText{
        font-size: 50px;
    }
}

@media (max-width:750px){

    .LegalNoticeHeadline {
        top: 100px;
        left: 100px;
    }

    .subtitelLegalNotice{
        width: 400px;
        left: 100px;
    }

    .subTitelText{
        width: 400px;
    }

}

@media (max-width:600px){

    .LegalNoticeHeadline {
        top: 200px;
        left: 100px;
    }

    .subtitelLegalNotice{
        width: 300px;
        left: 150px;
        top: 350px;
    }

    .subTitelText{
        width: 300px;
    }

}


@media (max-width:500px){

    .LegalNoticeHeadlineText{
        font-size: 40px;
    }

    .subtitelLegalNotice{
        width: 300px;
        left: 100px;
        top: 350px;
    }

    .subTitelText{
        width: 300px;
    }

    h2{
        font-size: 16px;
    }
}

@media (max-width:400px){

    .LegalNoticeHeadlineText{
        font-size: 40px;
    }

    .LegalNoticeHeadline {
        top: 155px;
        left: 40px;
        width: 250px;
    }

    .subtitelLegalNotice{
        width: 250px;
        left: 60px;
        top: 275px;
    }

    .subTitelText{
        width: 250px;
    }

}

@media (max-width:410px){
    h1{
        font-size: 25px ;
    }

    .LegalNoticeHeadlineText{
        font-size: 20px ;
    }
}

@media(max-width:360px){
    .mainContainerLegal{
        padding-left: 0px;
    }

    h1{
        font-size: 20px ;
    }

    .LegalNoticeHeadlineText{
        font-size: 16px ;
    }
}

@media(max-width:310px){
    .mainContainerLegal{
        overflow-x: hidden;
    }
}