/* Legal Notic */

body{
    overflow: hidden;
}

a{
    text-decoration: none;
    color: black;
    word-break: break-all;
}

h2{
    word-break: break-all;
}

.dataProtection{
    padding-left: 50px;
}

.bigContainerLegal {
    display: flex;
    height: 100vh;
}

.mainContainerLegal{
    max-width: 100vw;
    height: 100vh; 
    overflow-y: auto;
}


.subtitelLegalNotice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    padding-top: 20px;
}


.LegalNoticeHeadline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.LegalNoticeHeadlineText {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    padding-left: 50px;
}


.subTitelText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.legalNoticeArrow {
    margin-left: 50px;
    margin-top: 50px;
}


.legalNoticeArrow:hover {
    cursor: pointer;
}